.ProjectList { 
  overflow: hidden;
  width: 100%;
}

.ProjectList .ramka { 
  float: left;
   margin-right: 10px;
   margin-bottom: 10px;
   width: 300px;
   max-height: 300px;   
   overflow: hidden;
}

.ProjectList img { 
  width: 100% ;
}